.h1 {
  text-align: center;
}

// Style list of fav links
.list-wrapper {
  max-width: 300px;
  margin: 0 auto;

  .h2 {
    margin-top: 2em;
  }
}

.flex-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
