.h1 {
  text-align: center;
}

// Style list of fav links
.list-wrapper {
  max-width: 300px;
  margin: 0 auto;

  .h2 {
    margin-top: 2em;
  }
}

.flex-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.error-message {
  color: rgb(186, 26, 26);
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2.5em;
}