.h1 {
  text-align: center;
}

// Style list of fav links
.list-wrapper {
  max-width: 600px;
  margin: 0 auto;

  .h2 {
    margin-top: 2em;
  }
}

.list {
  padding: 0;
}

.flex-row {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  overflow-wrap: break-word;

  &:nth-child(odd) {
    background-color: rgb(223, 239, 255);
  }
}

.error-message {
  color: rgb(186, 26, 26);
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2.5em;
}
