.flex-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}